div {
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s;
}

.box1 {
    background-color: #FFCDD2;
}

.box2 {
    background-color: #BBDEFB;
}

.box3 {
    background-color: #C8E6C9;
}